<form class="flex-container">
<h2>Tags</h2>
<mat-list *ngFor="let tag of tags;">

      {{tag.name}}

      <button mat-icon-button aria-label="Icon button delete" (click)="delete(tag)">
        <mat-icon>delete</mat-icon>                                                                                                                                                                                                                                                                                                                                                                                                          
      </button>
</mat-list>
<br>
<br>
<mat-form-field >
  <mat-label>Add tag</mat-label>
  <input matInput #tag>
</mat-form-field>

<button mat-icon-button aria-label="Icon button add" (click)="add(tag.value)">
  <mat-icon>add</mat-icon>                                                                                                                                                                                                                                                                                                                                                                                                          
</button>

</form>



 


